nav {
  font-family: "Bungee", cursive;
  color: #8be9fd;
  background-color: #RRGGBBAA;
  display: flex;
  height: 120px;
  width: 100%;
  justify-content: space-between;
  padding: 1.5em;
  padding-bottom: 50;
  position: fixed;
  top: 0;
}

.logo {
  display: flex;
  font-family: "Bungee", cursive;
  font-size: 1.5em;
  color: #ff79c6;
}

.newTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  height: 2vh;
  font-size: 0.75em;
}

.arrow {
  color: #6272a4;
  padding-top: 10px;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #383a59;
    text-shadow: none;
  }
}
