/* child of .new-tweet */
.new-tweet > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* text area + title */
.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* text area box */
.new-tweet textarea {
  display: flex;
  border-style: none;
  resize: none;
  border-bottom: 5px solid #6272a4;
  font-weight: 700;
  background-color: inherit;
  width: 100%;
  color: #f8f8f2;
}

::placeholder {
  color: #44475a;
}

/* space between text area box + button/counter */
.new-tweet div {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 3%;
}

.new-tweet button {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  background-color: #ff79c6;
  color: #f8f8f2;
  border: 2px solid #ff79c6;
  border-radius: 4px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.new-tweet button:hover {
  background-color: #282a36; /* Green */
  color: white;
  border: 2px solid #ff79c6;
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-family: Bungee, sans-serif;
  color: #6272a4;
}
