.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  padding: 0.5em;
}

.tweet {
  display: flex;
  justify-content: flex-start;
  padding: 1.5em 1.5em;
  border-bottom: 3px solid #6272a4;
}

.handle {
  color: #6272a4;
}

.social-icons {
  color: #bd93f9;
}

.tweet-header p {
  color: #ff79c6;
}

.time-ago {
  color: #bd93f9;
}

article {
  display: flex;
  flex-direction: column;
  background-color: #383a59;
  width: 100%;
  border: 3px solid #6272a4;
  margin: 20px;
}

article > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0em 0.5em;
}

article > header > p {
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

article > footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 0.5em;
  padding-bottom: 0.5em;
}

/* Tweet box shadow */
article:hover {
  box-shadow: 10px 10px #383a59;
}

/* report..? idk button */
i.fa.fa-flag:hover {
  color: #8be9fd;
}
/* re-tweet button */
i.fa.fa-retweet:hover {
  color: #ffb86c;
}
/* like button */
i.fa.fa-heart:hover {
  color: #50fa7b;
}
